# ===============================
# Maven
# ===============================
target/
*.log

# ===============================
# Playwright
# ===============================
playwright-report/
test-results/
trace.zip

# ===============================
# Eclipse
# ===============================
.classpath
.project
.settings/
bin/

# ===============================
# IntelliJ (if ever used)
# ===============================
.idea/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Secrets
# ===============================
.env
